/* Importar las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos globales */
body {
    background-color: rgb(202, 202, 202);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezados */
h1, h2 {
    text-align: center;
    color: rgb(157, 112, 229);
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos del header */
header {
    background: #333;
    padding: 1em 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .menu li {
    margin-left: 2em;
}

nav .menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

header a:hover {
    color: rgb(157, 112, 229);
}

/* Sección Hero */
.hero {
    text-align: center;
    padding: 4em 0;
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    color: white;
}

.hero h1 {
    margin: 0;
}

.hero h2 {
    margin: 1em 0;
}

.hero .btn {
    background-color: rgb(157, 112, 229);
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: rgb(112, 82, 163);
}

/* Sección Galería */
#galeria {
    padding: 4em 0;
    background-color: white;
}

#galeria .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre imágenes */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

#galeria .container img {
    width: 300px; /* Tamaño deseado */
    height: auto; /* Mantener la proporción */
    object-fit: cover; /* Ajuste del contenido */
    border-radius: 10px;
    transition: transform 0.3s;
}

#galeria .container img:hover {
    transform: scale(1.1);
}

/* Sección Video */
#video {
    padding: 4em 0;
    background-color: #f9f9f9;
    text-align: center;
}

#video h2 {
    color: #333;
}

#video .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

#video .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
